server {
    listen 80;
    server_name ${VPN_DOMAIN};

    resolver 127.0.0.11 valid=30s;

    location /docs {
        set $$pay_backend "${VPN_BACKEND}/docs";
        proxy_pass $$pay_backend;
        
        proxy_set_header Host $$host;
        proxy_set_header X-Real-IP $$remote_addr;
    }

    location / {
        set $$core_backend "${VPN_BACKEND}";
        
        proxy_pass $$core_backend;

        proxy_set_header Host $$host;
        proxy_set_header X-Real-IP $$remote_addr;
        proxy_set_header X-Forwarded-For $$proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $$scheme;

        proxy_connect_timeout 5s;
        proxy_read_timeout 30s;
    }
}